{% extends 'base.html.twig' %}

{% block title  %} Unapproved Student {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <table class="table table-hover">

        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Native District</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Differently abled</th>
            <th scope="col">Course</th>
            <th scope="col">Branch</th>
            <th scope="col">Passout Year</th>
            <th scope="col">Semester Marks</th>
            <th scope="col">Approve</th>
        </tr>
        </thead>
        <tbody>
        {% for student in unapproved %}
            <tr>
            <th scope="row">{{ student.name }}</th>
            <td>{{ student.dob }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.NativeDistrict }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.MobileNo }}</td>
            <td>{{ student.DifferentlyAbled }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.branch }}</td>
            <td>{{ student.passoutYear }}</td>
            <td>{{ student.semesterMarks }}</td>
            <td><a href="{{ path('institute_approved', {'id': student.id }) }}" class="btn btn-primary btn-xs">a</a></th>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}